<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineQuiz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.onlinequiz.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.onlinequiz.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.onlinequiz.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateQuiz</servlet-name>
    <servlet-class>com.onlinequiz.controller.CreateQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuiz</servlet-name>
    <url-pattern>/CreateQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>com.onlinequiz.controller.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartQuiz</servlet-name>
    <servlet-class>com.onlinequiz.controller.StartQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartQuiz</servlet-name>
    <url-pattern>/StartQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitQuiz</servlet-name>
    <servlet-class>com.onlinequiz.controller.SubmitQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQuiz</servlet-name>
    <url-pattern>/SubmitQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>com.onlinequiz.controller.PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
